pandas
openpyxl
openai
httpx2
azure-identity
python-dotenv
tavily-python
fastapi
langgraph
langchain-core
langchain-openai
uvicorn
PyMuPDF
python-multipart
google-cloud-documentai
azure-ai-documentintelligence